RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://indoquran.web.id%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} =on
RewriteRule ^(.*)$ https://indoquran.web.id%{REQUEST_URI} [R=301,L]